In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', 50)

In [3]:
pd.read_csv('fraud.csv')

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,Rebecca,Erickson,F,594 Berry Lights Apt. 392,Wilmington,NC,28405,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08,fc860b0d1f89b0b068c9c8db27b6bcc5,1388534208,34.853497,-78.664158,0
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,Ana,Howell,F,4664 Sanchez Common Suite 930,Bradley,SC,29819,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03,0f0c38fe781b317f733b845c0d6ba448,1388534217,35.008839,-81.475156,0
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,TX,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,WA,99323,46.1966,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,OK,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [4]:
df=pd.read_csv('fraud.csv')
df.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud'],
      dtype='object')

In [5]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'], errors ='coerce')
df['dob'] = pd.to_datetime(df['dob'], errors='coerce')

In [6]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0

In [7]:
df['log_amt'] = np.log1p(df['amt']).clip(lower=0)

In [8]:
df.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud', 'log_amt'],
      dtype='object')

In [9]:
df['hour'] = df['trans_date_trans_time'].dt.hour
df['dayofweek'] = df['trans_date_trans_time'].dt.dayofweek
df['is_weekend'] = df['dayofweek'].isin([5,6]).astype(int)
df['is_night'] = df['hour'].between(0,6).astype(int)

In [10]:
df['hour']

0          0
1          0
2          0
3          0
4          0
          ..
491129    23
491130    23
491131    23
491132    23
491133    23
Name: hour, Length: 491134, dtype: int32

In [11]:
df['is_night']

0         1
1         1
2         1
3         1
4         1
         ..
491129    0
491130    0
491131    0
491132    0
491133    0
Name: is_night, Length: 491134, dtype: int64

In [12]:
df['is_weekend']

0         0
1         0
2         0
3         0
4         0
         ..
491129    0
491130    0
491131    0
491132    0
491133    0
Name: is_weekend, Length: 491134, dtype: int64

In [13]:
age_days =  (df['trans_date_trans_time']- df['dob']).dt.days

In [14]:
df['age'] = (age_days/ 365.25).astype(float)

In [15]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,log_amt,hour,dayofweek,is_weekend,is_night,age
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,4.684259,0,1,0,1,40.531143
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0,3.822317,0,1,0,1,38.028747
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0,3.856087,0,1,0,1,44.454483
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0,4.175771,0,1,0,1,47.156742
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0,3.280159,0,1,0,1,41.856263

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  datetime64[ns]
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  datetime64[ns]
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
 22  log_amt                491134 non-null  float64
 23  hour                   491134 non-null  int32
 24  dayofweek              491134 non-null  int32
 25  is_weekend             491134 non-null  int64
 26  is_night               491134 non-null  int64
 27  age                    491134 non-null  float64
dtypes: datetime64[ns](2), float64(7), int32(2), int64(7), object(10)
memory usage: 101.2+ MB

In [18]:
df.isna().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
log_amt                  0
hour                     0
dayofweek                0
is_weekend               0
is_night                 0
age                      0
dtype: int64

In [19]:
print(df.columns.tolist())

['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud', 'log_amt', 'hour', 'dayofweek', 'is_weekend', 'is_night', 'age']

In [20]:
drop_cols = ['trans_date_trans_time', 'cc_num', 'amt', 'first', 'last', 'street', 'city', 'state', 'zip','dob', 'trans_num', 'unix_time']
cc_df = df.drop(columns = [c for c in drop_cols if c in df.columns] , errors='ignore')
cc_df.head()

,merchant,category,gender,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,log_amt,hour,dayofweek,is_weekend,is_night,age
0,"fraud_Heller, Gutmann and Zieme",grocery_pos,F,48.8878,-118.2105,149,Special educational needs teacher,49.159047,-118.186462,0,4.684259,0,1,0,1,40.531143
1,"fraud_Schultz, Simonis and Little",grocery_pos,M,40.6747,-74.2239,124967,Operational researcher,40.079588,-74.848087,0,3.822317,0,1,0,1,38.028747
2,fraud_Kling-Grant,grocery_net,F,40.6152,-74.4150,71485,Leisure centre manager,40.021888,-74.228188,0,3.856087,0,1,0,1,44.454483
3,fraud_Deckow-O'Conner,grocery_pos,M,42.2203,-83.3583,31515,Police officer,42.360426,-83.552316,0,4.175771,0,1,0,1,47.156742
4,fraud_Balistreri-Nader,misc_pos,F,30.4066,-91.1468,378909,"Designer, furniture",29.737426,-90.853194,0,3.280159,0,1,0,1,41.856263

In [21]:
#isna()sum()으로 결측치를 찾아보았으나 결측치가 없었다. 그러나 혹시 모를 에러를 방지하기위해 결측치를 숫자와 문자열로 나누어 처리한다.
num_cols = cc_df.select_dtypes(include = [np.number]).columns.tolist()
cat_cols = cc_df.select_dtypes(include = ['object', 'category']).columns.tolist()
for c in num_cols:
    if c != 'is_fraud':
        cc_df[c] = cc_df[c].fillna(cc_df[c].median())
for c in cat_cols:
    cc_df[c] = cc_df[c].fillna('unknown')
cc_df.head()

,merchant,category,gender,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,log_amt,hour,dayofweek,is_weekend,is_night,age
0,"fraud_Heller, Gutmann and Zieme",grocery_pos,F,48.8878,-118.2105,149,Special educational needs teacher,49.159047,-118.186462,0,4.684259,0,1,0,1,40.531143
1,"fraud_Schultz, Simonis and Little",grocery_pos,M,40.6747,-74.2239,124967,Operational researcher,40.079588,-74.848087,0,3.822317,0,1,0,1,38.028747
2,fraud_Kling-Grant,grocery_net,F,40.6152,-74.4150,71485,Leisure centre manager,40.021888,-74.228188,0,3.856087,0,1,0,1,44.454483
3,fraud_Deckow-O'Conner,grocery_pos,M,42.2203,-83.3583,31515,Police officer,42.360426,-83.552316,0,4.175771,0,1,0,1,47.156742
4,fraud_Balistreri-Nader,misc_pos,F,30.4066,-91.1468,378909,"Designer, furniture",29.737426,-90.853194,0,3.280159,0,1,0,1,41.856263

In [22]:
cc_df.isna().sum()

merchant      0
category      0
gender        0
lat           0
long          0
city_pop      0
job           0
merch_lat     0
merch_long    0
is_fraud      0
log_amt       0
hour          0
dayofweek     0
is_weekend    0
is_night      0
age           0
dtype: int64

In [23]:
cc_df['merchant'].nunique()

693

In [24]:
cc_df['job'].nunique()

110

In [31]:
one_hot_cols = [col for col in ['gender'] if col in cc_df.columns]
cc_df = pd.get_dummies(cc_df, columns= one_hot_cols, drop_first=True)
cc_df.head()

,merchant,category,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,log_amt,hour,dayofweek,is_weekend,is_night,age,gender_M
0,"fraud_Heller, Gutmann and Zieme",grocery_pos,48.8878,-118.2105,149,Special educational needs teacher,49.159047,-118.186462,0,4.684259,0,1,0,1,40.531143,False
1,"fraud_Schultz, Simonis and Little",grocery_pos,40.6747,-74.2239,124967,Operational researcher,40.079588,-74.848087,0,3.822317,0,1,0,1,38.028747,True
2,fraud_Kling-Grant,grocery_net,40.6152,-74.4150,71485,Leisure centre manager,40.021888,-74.228188,0,3.856087,0,1,0,1,44.454483,False
3,fraud_Deckow-O'Conner,grocery_pos,42.2203,-83.3583,31515,Police officer,42.360426,-83.552316,0,4.175771,0,1,0,1,47.156742,True
4,fraud_Balistreri-Nader,misc_pos,30.4066,-91.1468,378909,"Designer, furniture",29.737426,-90.853194,0,3.280159,0,1,0,1,41.856263,False

In [32]:
df.shape

(491134, 28)

In [33]:
cc_df.shape

(491134, 16)

In [34]:
cc_df.describe()

,lat,long,city_pop,merch_lat,merch_long,is_fraud,log_amt,hour,dayofweek,is_weekend,is_night,age
count,491134.000000,491134.000000,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000,491134.000000
mean,37.931230,-90.495619,1.213922e+05,37.930272,-90.495411,0.002533,3.467934,14.123087,2.980873,0.332589,0.163908,35.145325
std,5.341193,12.990732,3.725751e+05,5.372986,13.004100,0.050264,1.314505,6.406759,2.209188,0.471141,0.370193,9.287430
min,24.655700,-122.345600,4.600000e+01,23.655789,-123.345106,0.000000,0.693147,0.000000,0.000000,0.000000,0.000000,14.004107
25%,33.746700,-97.235100,1.228000e+03,33.781388,-96.984814,0.000000,2.298577,10.000000,1.000000,0.000000,0.000000,27.742642
50%,38.507200,-87.591700,5.760000e+03,38.545124,-87.573441,0.000000,3.765146,15.000000,3.000000,0.000000,0.000000,35.340178
75%,41.520500,-80.731000,5.083500e+04,41.624294,-80.685567,0.000000,4.398515,19.000000,5.000000,1.000000,0.000000,43.608487
max,48.887800,-69.965600,2.906700e+06,49.887523,-68.965624,1.000000,10.130143,23.000000,6.000000,1.000000,1.000000,50.305270

In [37]:
vc= cc_df['is_fraud'].value_counts(). rename('count')
vr= cc_df['is_fraud'].value_counts(normalize=True). rename('ratio')
pd.concat([vc,vr], axis=1)

           count     ratio
is_fraud
0         489890  0.997467
1           1244  0.002533

In [42]:
cc_df.tail(10)

,merchant,category,lat,long,city_pop,job,merch_lat,merch_long,is_fraud,log_amt,hour,dayofweek,is_weekend,is_night,age,gender_M
491124,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,30.5920,-97.2893,1766,Press sub,29.831181,-97.742957,0,2.131797,23,3,0,0,44.996578,False
491125,fraud_Altenwerth-Kilback,home,46.1966,-118.9017,3684,Musician,45.716706,-119.886246,0,3.872242,23,3,0,0,39.088296,False
491126,fraud_Kemmer-Buckridge,misc_pos,42.6911,-71.1605,76383,Geoscientist,42.237331,-70.419494,0,3.967647,23,3,0,0,35.742642,True
491127,fraud_Cartwright PLC,kids_pets,38.9311,-89.2463,1810,Race relations officer,39.121026,-88.866295,0,3.796388,23,3,0,0,46.020534,False
491128,fraud_Berge-Hills,kids_pets,39.1657,-84.2330,31394,Hospital doctor,38.653037,-84.419288,0,3.188004,23,3,0,0,24.134155,False
491129,fraud_Botsford and Sons,home,34.2651,-77.8670,186140,English as a second language teacher,34.853497,-78.664158,0,4.907199,23,3,0,0,37.894593,False
491130,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,34.0326,-82.2027,1523,Research scientist (physical sciences),35.008839,-81.475156,0,3.276767,23,3,0,0,36.577687,False
491131,fraud_Hoppe-Parisian,kids_pets,29.0393,-95.4401,28739,Futures trader,29.661049,-96.186633,0,4.725971,23,3,0,0,21.013005,True
491132,fraud_Rau-Robel,kids_pets,46.1966,-118.9017,3684,Musician,46.658340,-119.715054,0,4.475972,23,3,0,0,39.088296,False
491133,fraud_Dare-Marvin,entertainment,35.6665,-97.4798,116001,Media buyer,36.210097,-97.036372,0,3.666889,23,3,0,0,27.644079,True

In [43]:
Fraud_PATH= 'fraud_prepared.csv'
df.to_csv(Fraud_PATH, index=False)